<!DOCTYPE html>
 <head>
   <link rel="stylesheet" type="text/css" href="../static/BlogPost.css">
 </head>
<body>
  <table>
    <ul class="bar">
      <li class="bar"><a href="/home">Home</a></li>
      <li class="bar"><a href="/blog">Blogs</a></li>
      
      {% if user == 0 %}
      <li class="bar"><a href="/login">Log In / Sign Up</a></li>
      
      {% else %}
      <li class="bar"><a href="/create">Create</a></li>
      <li class="bar"><a href="/logout">Log Out</a></li>
      {% endif %}
      
      {% block bar %}
      {% endblock %}
     </ul>
  </table>

  {% block content %}
  {% endblock %}
</body>
